@use "../../../styles/index" as *;

.card {
  background: #fff;
  border-radius: $radius-sm;
  padding: $spacing-2;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  width: 100%;
  margin-bottom: 0.5rem;
}

.card__title {
  margin: 0 0 $spacing-2 0;
  font-size: 0.9rem;
  color: $color-list-text;
}

.card__action {
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  background-color: rgb(223, 225, 230);
  color: rgb(23, 43, 77);
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
  margin-left: auto;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: rgb(200, 205, 215);
  }

}
