@use "../../../styles/index" as *;

.board__header {
  @include flex-row($gap: $spacing-3, $align: center, $justify: space-between);
  padding-left: $spacing-4;
  padding-right: $spacing-4;
  height: 2.5rem;
  margin-bottom: $spacing-4;
  color: var(--text-primary);
}

.board__title {
  margin: 0;
  padding: $spacing-2;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.board__title--input {
  border-radius: $radius-sm;
  border: 1px solid #fff;
  background: transparent;
  color: $color-list-title;
  padding: $spacing-3;
  background: #fff;
  font-size: 1.3rem;
  display: inline-block;
  width: auto;
  min-width: 1ch;
}

.board__subtitle {
  margin: 0;
}

